.empty {
    height: 100%;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty h1 {
    margin: 10px;
}

.empty .username {
    padding-left: 10px;
}

.empty button {
    margin-top: 20px;
    padding: 20px;
    background-color: #64E9EE;
    border-radius: 10px;
    border: none;

    color: white;
    font-size:medium;
};
.empty button:hover {
    background-color: #000000;
    
}


@media screen and (max-width = 480px) {
    .empty {
        visibility: hidden;

    }
    
}