.signup-form {
    height: 100%;   
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
    
}

.form-signup {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-signup div {
    text-align: center;

}

.form-signup div span {
    margin-right: 25px;
}

input, button {    
    margin: 5px auto;
    padding: 10px 20px;

    border-radius: 5px;
    border:none;

    background-color: #b4edd2;
    color: #000;
    font-weight: 500;
    

}

input:focus {
    outline: none;

    
}

button:hover {
    background-color: #A0CFD3

}

.alert {              
    margin:20px auto;
    padding:30px;
    position:relative;    
    border-radius:5px;
    box-shadow:0 0 15px 5px #ccc;
    
  }
.alert-danger {
    background-color: #f7a7a3;

}

.alert-success {
    background-color: #a8f0c6;
}

.close{
    position:absolute;
    width:30px;
    height:30px;
    opacity:0.5;
    border-width:1px;
    border-style:solid;
    border-radius:50%;    
    right: 15px;
    top:25px;    
    text-align:center;
    font-size:1.6em;
    cursor:pointer;
}

@media only screen and (max-width: 600px) {
    

}
    
