.siderbar {
    height: 100%;
    max-width: 20%;    

    flex: 20%;
    justify-self: center;

    background-color: #eff0d1;

    
    
}

.main_siderbar {
    height: 70%;    
    overflow-y: scroll;

}

.chat_found_nothing {    
    padding: 15px 10px;    
}


@media screen and (max-width = 480px) {
    .siderbar {
        flex: 100%;
    }
    
    
}



