.siderbar {
    height: 100%;    

    flex: 20%;
    justify-self: center;

    background-color: #eff0d1;

    
    
}

.main_siderbar {
    height: 70%;    
    overflow-y: scroll;

}


@media screen and (max-width = 480px) {
    .siderbar {
        flex: 100%;
    }
    
    
}



