@import url("https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans&sidebar.open:400,700");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans" 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}


